@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
body {
  margin: 0; }

div.content {
  margin: auto;
  max-width: 1600px;
  font-family: "Open Sans"; }

#ampersant {
  font-size: 170%;
  font-family: "Libre Baskerville", serif;
  font-style: italic; }

nav {
  display: inline-block; }
  nav a {
    text-decoration: none;
    color: inherit; }
    nav a:hover {
      background-color: rgba(0, 0, 0, 0.4); }

header {
  background-image: url("../img/apples.jpg");
  background-position: center;
  height: 740px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  header .first-container {
    margin: 0 13.5vw;
    flex: 2 1 auto;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px; }
    header .first-container .top-logo-text {
      text-transform: uppercase;
      letter-spacing: 2px; }
    header .first-container a {
      margin: 0 15px;
      padding: 15px; }
      header .first-container a.selected {
        border-bottom: 2px solid #B7C8D9; }
  header .second-container {
    flex: 11 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .second-container .logo-text {
      font-weight: normal;
      margin: 0;
      font-family: inherit;
      text-transform: uppercase;
      font-size: 48px;
      letter-spacing: 5px; }
  header .three-container {
    flex: 3 1 auto; }
    header .three-container button {
      border: 2px solid #fff;
      box-sizing: border-box;
      height: 60px;
      width: 230px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      font-family: "Open Sans";
      font-size: 16px;
      text-transform: capitalize;
      cursor: pointer; }
      header .three-container button:hover {
        background-color: rgba(0, 0, 0, 0.6); }
      header .three-container button:active {
        transform: translateY(2px); }

.latina {
  margin: 0 13.5vw;
  min-height: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .latina .latina-big {
    flex: 1;
    font-size: 24px;
    line-height: 42px; }
  .latina .latina-small {
    flex: 1;
    font-size: 14px;
    margin-left: 3vw; }

section.grey-area {
  background-color: #F3F3F3;
  min-height: 1360px; }
  section.grey-area .area-header {
    margin: auto;
    width: 500px;
    padding-top: 150px;
    padding-bottom: 90px;
    text-align: center;
    font-size: 24px; }
    section.grey-area .area-header h3 {
      font: inherit; }
  section.grey-area .grid-container {
    margin: 0 13.5vw;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    grid-gap: 2vw; }
    section.grey-area .grid-container > div {
      border: 2px solid #fff; }
    section.grey-area .grid-container .likes {
      height: 37px;
      width: 68px;
      border: 2px solid #fff;
      background-color: #353638;
      text-align: center;
      box-sizing: border-box;
      padding-top: 5px;
      font-size: 14px;
      position: absolute;
      top: 18px;
      right: 18px; }
    section.grey-area .grid-container .img-title {
      position: absolute;
      bottom: 0;
      padding: 50px 0 25px 0;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
      width: 100%; }
      section.grey-area .grid-container .img-title span {
        padding-left: 2vw; }
    section.grey-area .grid-container .art-france {
      background-image: url("../img/sample.jpg");
      grid-column: 1/3;
      grid-row: 1;
      position: relative; }
    section.grey-area .grid-container div.art-budapest:nth-child(2) {
      background-image: url("../img/sample2.jpg");
      grid-column: 3/4;
      grid-row: 1;
      position: relative; }
    section.grey-area .grid-container div.art-budapest:nth-child(3) {
      background-image: url("../img/sample2.jpg");
      grid-column: 1/2;
      grid-row: 2;
      position: relative; }
    section.grey-area .grid-container .art-america {
      background-image: url("../img/sample3.jpg");
      grid-column: 2/4;
      grid-row: 2;
      position: relative; }
  section.grey-area .area-footer {
    height: 200px;
    margin: 90px 13.5vw 0 13.5vw;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    section.grey-area .area-footer p {
      margin-right: auto;
      margin-left: auto; }
    section.grey-area .area-footer div {
      margin-right: auto; }

section.columns {
  margin: 0 13.5vw;
  min-height: 440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4vw; }
  section.columns .column-item {
    margin-top: 120px; }
    section.columns .column-item p {
      font-size: 14px;
      color: #A4A4A4;
      line-height: 25px; }

footer {
  height: 80px;
  max-width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #f0f0f0; }
  footer a {
    padding: 10px 15px;
    margin-left: 10px; }
  footer .buttom-copyright {
    color: #A4A4A4; }

/*# sourceMappingURL=style.css.map */
